<%#
 Copyright 2008 Steven Barth <steven@midlink.org>
 Copyright 2008-2015 Jo-Philipp Wich <jow@openwrt.org>
 Copyright 2017-2018 Stan Grishin <stangri@melmac.net>
 Licensed to the public under the Apache License 2.0.
-%>

<%+header%>

<h2 name="content"><%:Power Off Device%></h2>
<br />
<p>
	<%_ WARNING: Power off might result in a reboot on a device which doesn't support power off.<br /><br />
		Click "Proceed" below to power off your device. %>
</p>


<%- local c = require("luci.model.uci").cursor():changes(); if c and next(c) then -%>
	<p class="alert-message warning"><%:Warning: There are unsaved changes that will get lost on reboot!%></p>
<%- end -%>

<%- if errorMessage and errorMessage ~= "" then -%>
	<p class="alert-message warning"><%:ERROR: %><%=errorMessage%></p>
<%- end -%>

<hr />

<%- if nixio.fs.access("/sbin/poweroff") then -%>
<form method="post" action="<%=url('admin/system/power_off/confirm')%>">
	<input type="hidden" name="token" value="<%=token%>" />
<input type="hidden" name="step" value="2" />

  <input id="poweroff-button" type="submit" class="cbi-button cbi-button-apply important" value="<%:Perform power off%>" />
</form>
<%- else -%>
  <p class="alert-message warning"><%:Warning: This system does not support powering off!%></p>
<%- end -%>

<%+footer%>
